@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'Quicksand', 'Courier New', Courier, monospace;
    letter-spacing: 1.5px;
}

h3 {
    margin: 50px 10px 50px 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}

.sign-form {
    box-sizing: border-box;
    padding: 0 70px;
    width: 400px;
    height: 496px;
    background: linear-gradient(32deg, rgba(48, 35, 174, 0.8) 0%, rgba(200, 109, 215, 0.7) 100%),
        url('../img/Vector_Smart_Object.png');
    box-shadow: 0 0 20px rgba(2, 41, 120, 0.1);
}

input[type='text'],
input[type='password'],
button {
    margin: 10px 0 20px 0;
    width: 261px;
    height: 42px;
    border: 2px solid rgba(191, 185, 204, 0.54);
    background-color: transparent;
}

label[for='username'],
label[for='userpassword'] {
    font-size: 16px;
    font-weight: 700;

}

input[type='checkbox'] {
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}

button {
    margin: 40px 0 30px 0;
    width: 269px;
    height: 46px;
    background-color: #23ae92;
    border: none;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 1.5px;
}

.helpers {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: 400;
}

.remind-password {
    margin-right: auto;
}

.remind-password,
.new-account {
    color: #ffffff;
    opacity: 0.5;
}